/*Made by Rahmah*/
body {
  text-align: center;
}
.countdown {
  font-size: 60px;
}
canvas {
  background-color: black;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -3;
}
#text {
  color: #ffffff;
}
#text1 {
  text-align: center;
  color: lightpink;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
}
