body {
  background-image: url("../res/image.jpg");
}
.rhm {
  text-align: center;
}
.rhm h1 {
  background-color: dodgerblue;
  color: white;
}
.rhm p {
  background-color: gray;
}
.image {
  width: 128px;
  height: 128px;
}
blockquote {
  color: green;
}
/* .img {
  float: left;
  width: 42px;
  height: 42px;
} */
/*
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}*/
.c a:link,
.c a:visited {
  color: white;
  background-color: blue;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.c a:hover,
.c a:active {
  background-color: red;
}
#clear a:link,
#clear a:visited {
  color: white;
  background-color: blue;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#clear a:hover,
#clear a:active {
  background-color: red;
}
