body {
  /* background-image: url("../res/image.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  /* background-size: cover; */
  background-color: #fff;
}
.rhm {
  text-align: center;
}
.rhm h1 {
  background-color: dodgerblue;
  color: white;
}
blockquote {
  color: green;
}
/* .img {
  float: left;
  width: 42px;
  height: 42px;
} */
/*
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}*/
.c a:link,
.c a:visited {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.c a:hover,
.c a:active {
  background-color: red;
}
table {
  font-family: Arial, Sans-Serif;
  border-collapse: collapse;
  width: 100%;
}
#clear a:link,
#clear a:visited {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
#clear a:hover,
#clear a:active {
  background-color: red;
}
